/* Подключение нестандартных шрифтов */
@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  src: local('Gilroy'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weigh
  t: 300;
  font-style: normal;
  src: local('Gilroy'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

/* Подсветка отдельных блоков сайта */
/* body > * {
  outline: red solid 2px;
}

body > * > * {
  outline: green solid 2px;
}

body > * > * > * {
  outline: blue solid 2px;
} */

/* Сеточная стилизация шапки сайта */
.layout-container {
  margin: 0 auto;
  padding: 0 20px;

  width: 1160px;
}

.main-header {
  margin-top: 40px;

  background-color: rgba(94%, 77%, 18%, 0.5);
}

.main-navigation {
  position: relative;

  padding-top: 29px;
  padding-left: 60px;
  padding-right: 55px;
  /* padding-bottom: 40px; */
}

/* Сеточная стилизация логотипа */
.main-header-logo {
  position: absolute;
  top: -18px;

  width: 163px;
  height: 35px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Сеточная стилизация формы поиска */
.search-form {
  position: relative;

  display: flex;
  justify-content: space-between;

  margin-right: 76px;
  margin-bottom: 31px;

  width: 440px;
}

.search-form::before {
  position: absolute;
  top: 16px;
  left: 3px;

  content: "";

  width: 10px;
  height: 10px;
  border: 2px solid #000000;

  border-radius: 50%;
}

.search-form::after {
  position: absolute;
  top: 28px;
  left: 12px;

  content: "";

  width: 8px;
  height: 2px;
  background-color: #000000;

  transform: rotate(45deg);
}

.search-form input[type="search"] {
  display: inline-block;

  padding: 6px 0 4px 40px;

  width: 355px;
}

/* Сеточная стилизация пользовательской навигации */
.user-navigation-header {
  display: flex;
  justify-content: flex-end;

  width: 600px;

  margin: 0;
  padding: 0;
  padding-right: 5px;

  list-style: none;
}

.login-link-header,
.difference-header,
.purchases-header {
  position: relative;
  padding-left: 50px;
}

.login-link-header::before {
  content: "";

  position: absolute;
  top: 24px;
  left: 24px;

  width: 12px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.difference-header::before {
  content: "";

  position: absolute;
  top: 26px;
  left: 29px;

  width: 12px;
  height: 12px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.purchases-header::before {
  content: "";

  position: absolute;
  top: 24px;
  left: 28px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.difference-header {
  padding-right: 12px;
}

.login-link-header {
  margin-right: auto;
}

/* Сеточная стилизация навигации по каталогу */
.site-navigation-header {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  list-style: none;
}

.drop-down-list {
  padding-bottom: 163px;
}

.site-navigation-header > li:first-child:hover .nested-list {
  display: flex;
}

.site-navigation-header > li {
  position: relative;
}

.site-navigation-header > li:nth-child(1) {
  margin-right: auto;
}

.site-navigation-header > li:nth-child(3) {
  margin-left: 33px;
}

.site-navigation-header > li:nth-child(4) {
  margin-left: 110px;
}

.drop-down-point {
  position: relative;

  display: inline-block;

  padding-right: 30px;
}

.drop-down-point::before {
  position: absolute;
  top: 11px;
  left: 230px;

  content: "";

  width: 16px;
  height: 2px;

  background-color: #b8a974;

  cursor: pointer;
}

.drop-down-point::after {
  position: absolute;
  top: 11px;
  left: 230px;

  content: "";

  width: 16px;
  height: 2px;

  background-color: #b8a974;
  transform: rotate(90deg);

  cursor: pointer;
}

/* Сеточная стилизация вложенного списка навигации каталога товаров*/
.nested-list {
  position: absolute;
  z-index: 5;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  height: 110px;
  width: 1160px;

  margin: 0;
  padding-top: 20px;
  margin-left: -60px;
  padding: 0;
  padding-bottom: 53px;
}

.nested-list a {
  display: block;
}

.nested-list li {
  margin-left: 60px;

  width: 200px;
}

.nested-list li:nth-child(1),
.nested-list li:nth-child(2),
.nested-list li:nth-child(3) {
  margin-right: -21px;
}

.nested-list li:nth-child(4),
.nested-list li:nth-child(5) {
  margin-right: -60px;
}

.nested-list li:nth-child(6)  {
  height: 100px;
}

/* Сеточная стилизация первого слайдера главной страницы*/
.slider-special-offer {
  position: relative;
}

/* .slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 300%;
}

.slider-slides .slide-1-monopod,
.slider-slides .slide-2-fitness-bracelet,
.slider-slides .slide-3-quadcopter {
  float: left;
} */

.slide-1-monopod,
.slide-2-fitness-bracelet,
.slide-3-quadcopter {
  display: flex;

  height: 486px;
  width: 1160px;

  position: relative;
  top: -110px;
}

.slide-1-monopod img {
  order: -1;

  padding-left: 90px;
  padding-right: 125px;
}

.slide-2-fitness-bracelet img {
  order: -1;

  padding-left: 90px;
  padding-right: 139px;
}

.slide-3-quadcopter img {
  order: -1;

  padding-left: 84px;
  padding-right: 42px;
}

.monopod-container {
  padding-right: 75px;
}

.name-offer {
  position: relative;
  top: 30px;

  margin-bottom: 50px;
}

.name-offer::before {
  position: absolute;
  top: -42px;

  content: "";

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.name-offer::after {
  position: absolute;
  top: -93px;
  left: 330px;

  content: "01";

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.8px;
  font-weight: 800;
  color: #ffffff;
}

/* .name-offer:nth-child(1)::after {
  content: "01";
}

.name-offer:nth-child(2)::after {
  content: "02";
}

.name-offer:nth-child(3)::after {
  content: "03";
} */

.name-offer + p {
  margin-bottom: 41px;
}

.controls-button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  margin-bottom: 47px;
}

.slider-controls {
  display: none;
}

.label-controls label {
  position: relative;

  display: inline-block;
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
}

/* .label-controls label::after {
  display: none;

  position: absolute;
  top: 2px;
  left: 2px;

  content: "";

  width: 4px;
  height: 4px;

  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
}

#btn-1:checked ~ .label-controls label[for="btn-1"],
#btn-2:checked ~ .label-controls label[for="btn-2"],
#btn-3:checked ~ .label-controls label[for="btn-3"] {
  display: flex;
} */

.label-controls label:last-child {
  margin-right: 0;
}

.table-container {
  margin: 0;
  padding: 0;

  border-collapse: collapse;
}

.table-container td {
  padding-right: 76px;
}

.table-container td:last-child {
  padding-right: 0;
}

.fitness-bracelet-container {
  padding-right: 90px;
}

.quadcopter-container {
  padding-right: 30px;
}

/* Стилизация первого абзаца слайдера */
.name-offer::before {

}

/* .table-container {
  table-layout: fixed;
}

.table-container tr {

} */



/* Сеточная стилизация блока каталога товаров */
.catalog {
  position: relative;
  top: -5px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 200px;
  padding: 0;
}

.catalog-list a {
  display: flex;
  flex-wrap: wrap;

  width: 160px;

  margin-bottom: -43px;
}

.catalog-list h3 {
  order: 1;
}

.catalog-list-image {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;

  width: 160px;
  height: 160px;

  background-color: rgba(94%, 77%, 18%, 0.5);
}

.catalog-list-image:hover {
  background-color: #f0c52e;
}

.catalog-list-image:active {
  background-color: #f0c52e;
}

.catalog-list-image:active img {
  opacity: 0.3;
}

.catalog-list li:active h3 {
  opacity: 0.3;
}

/* Сеточная стилизация cлайдера предоставляемых услуг */
.slider-service-container {
  background-color: #e5e5e5;
}

.slider-service {
  display: flex;
  align-items: flex-start;

  padding-bottom: 43px;
  margin-bottom: 93px;
}

/* Сеточная стилизация кнопок */
.slider-buttons {
  position: relative;
  top: -19px;

  width: 284px;

  margin-right: 117px;
}

.slider-buttons::after {
  position: absolute;
  top: -80px;
  left: 277px;

  content: "";

  width: 7px;
  height: 319px;
  background-color: #000000;
}

.slider-buttons .button {
  display: block;

  padding: 8px 20px;
  margin-bottom: 24px;
}

.slider-buttons .button-warranty {
  padding-left: 25px;
  padding-right: 21px;
}

.slider-buttons .button-credit {
  padding-left: 38px;
  padding-right: 36px;
}

.button-delivery:active {
  padding-right: 133px;
}

.button-warranty:active {
  padding-right: 138px;
}

.button-credit:active {
  padding-right: 152px;
}

/* Сеточная стилизация содержимого слайдера */
.slider-list {
  width: 700px;

  margin: 0;
  padding: 0;
}

.slider-list .service-1 {
  position: relative;
  top: -73px;

  margin: 0;
  padding: 0;
}

.slide-service-1 {
  position: relative;

  display: flex;
}

.service-1 {
  margin: 0;
  padding: 0;
}

.slide-service-1 p {
  position: relative;
  top: -16px;

  margin-left: -1px;
  padding-right: 300px;
}

.slide-service-1 img {
  position: absolute;
  top: -14px;
  right: 8px;
}


/* Сеточная стилизация блока "Логотипы" */
.logotypes {
  margin-bottom: 100px;
}

.logotypes-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

/* Сеточная стилизация блоков "О нас" и "Контакты" */
.about-us_contacts {
  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;
}

.about-us_contacts h2 {
  position: relative;

  margin-bottom: 43px;
}

.about-us_contacts h2::before {
  position: absolute;
  top: -52px;

  content: "";

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us {
  display: relative;

  width: 480px;
}

.contacts {
  display: relative;

  width: 560px;
}

.about-us p {
  padding-bottom: 15px;
}

.second-paragraph {
  margin-bottom: 51px;
}

.carrier-companies {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  padding-left: 35px;
}

.contacts p {
  margin-bottom: 40px;
}

/* Сеточная стилизация заголовка страницы каталога */
.vpage-title {
  padding-left: 60px;
}

/* Сеточная стилизация "хлебных крошек" страницы каталога */
.breadcrumbs {
  display: flex;

  margin: 0;
  padding: 0;
  padding-left: 60px;
  margin-bottom: 50px;
}

.breadcrumbs li {
  position: relative;
  padding-right: 35px;
}

.breadcrumbs li:last-child {
  padding-right: 0;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a::before {
  position: absolute;
  top: 8px;
  right: 18px;
  z-index: 2;

  width: 10px;
  height: 10px;

  content: "";

  background-color: #ffffff;
}

.breadcrumbs a::after {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;

  content: "";

  width: 26px;
  height: 26px;

  background-color: #ffffff;
  box-shadow: 1px 1px 0 4px #000000;
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.17);
}

/* Общая сеточная стилизация фильтров страницы каталога */
.filters legend {
  position: relative;

  margin-bottom: 25px;
}

.filters legend::before {
  position: absolute;
  top: -10px;

  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.filters ul {
  margin: 0;
  padding: 0;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  border: none;
}

.filter-option {
  margin-bottom: 17px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  position: absolute;
  top: 9px;
  left: -42px;

  content: "";

  width: 19px;
  height: 19px;

  border: 2px solid #000000;
  border-radius: 10%;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  top: 9px;
  left: -42px;

  content: "";

  width: 30px;
  height: 30px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label::before {
  opacity: 1;
}

.filter-input-checkbox:hover + label::before {
  opacity: 0.6;
}

.filter-input-checkbox:active + label::before,
.filter-input-checkbox:checked + label::after {
  opacity: 1;
}

.filter-input-checkbox:checked:hover + label::after {
  opacity: 0.6;
}




.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: 8px;

  width: 18px;
  height: 18px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 16px;
  left: -34px;

  width: 10px;
  height: 10px;

  background-color: #000000;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  opacity: 0.6;
}

.filter-input-radio:active + label::before {
  opacity: 1;
}

.filter-input-radio:checked:hover + label::after {
  opacity: 0.6;
}


/* Сеточная стилизация фильтра по критериям товара страницы каталога */
.filters-name {
  display: block;

  margin: 0;
  margin-bottom: 65px;
  padding: 20px 0;

  background-color: #d9d9d9
}

/* Сеточная стилизация фильтра выбора стоимости страницы каталога */
.range-controls {
  position: relative;

  margin-bottom: 10px;

  background-color: #ebebeb;
}

.range-controls .scale {
  height: 2px;

  background: #dbdbdb;
}

.range-controls .bar {
  width: 55%;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
}

.toggle:active {
  border: 9px solid #ffffff;
}

.range-controls .toggle-max {
  left: 108px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.2);

  display: inline-block;
  width: 50%;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;

  border: none;
  background: #f1f1f1;
}

/* Сеточная стилизация сортировки товаров страницы каталога */
.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  padding: 20px 0;

  background-color: #ebebeb;
}

.sort-name {
  margin-left: 73px;
  margin-right: 55px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.sort-list li {
  margin-right: 25px;
}

.sort-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active {
  color: #000000;
}

.arrow-buttons {
  margin-left: auto;
}

.arrow {
  display: inline-block;
}

.button-down {
  margin-left: 15px;
}

/* Сеточная стилизация фильтра и каталога товаров страницы каталога */
.filters-catalog-container {
  display: flex;
}

.filters-container {
  padding-left: 60px;
  padding-right: 67px;

  width: 200px;

  background-color: #ebebeb;
}

.catalog-list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-left: 73px;
  padding-top: 49px;

  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.item-container h3 {
  width: 260px;
}

.item-container .actions {
  display: none;

  position: absolute;
  top: -403px;
  z-index: 8;

  width: 360px;
  height: 379px;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item:hover .actions {
  display: block;
}

.actions .buy,
.actions .liken {
  position: relative;
  top: 168px;
  z-index: 8;

  display: block;

  width: 200px;

  margin: 0 auto;
}

.actions .button {
  padding: 9px 0;
  margin-bottom: 10px;
}

.catalog-item .catalog-item-image {
  order: -1;
}

/* Сеточная стилизация пагинации страницы каталога */
.pagination-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  margin-left: 73px;
  padding: 0;

  background-color: #ebebeb;
}

.pagination-item a {
  display: block;
  padding: 25px 15px;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  padding-left: 30px;
  padding-right: 30px;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

/* .filter {
  display: flex;

  background-color: #ebebeb;
} */

/* Сеточная стилизация подвала сайта */
.main-footer {
  display: flex;
  flex-direction: column;

  margin-top: 80px;

  background-color: #464646;
}

/* Сеточная стилизация логотипа подвала сайта */
.logo-user-navigation {
  position: relative;
}

.main-footer-logo {
  position: absolute;
  top: 23px;
  left: -1px;

  width: 163px;
  height: 35px;
}

.main-footer-logo::after {
  position: absolute;
  top: 172px;
  left: 1px;

  width: 80px;
  height: 7px;

  content: "";

  background-color: #f0c52e;
}

/* Сеточная стилизация пользовательской навигации подвала сайта */
.user-navigation-footer {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  margin-top: 42px;
  padding: 0;

  list-style: none;
}

.user-navigation-footer li {
  margin-left: 40px;
}

.difference-footer {
  padding-left: 3px;
}

.user-navigation-svg {
  padding-right: 5px;
}

.login-svg {
  padding-right: 8px;
}

/* Сеточная стилизация адреса, навигации по каталогу и телефона подвала сайта */
.address-site-navigation-call {
  position: relative;
  top: -1px;

  display: flex;
  align-items: baseline;
}

.site-navigation-footer {
  position: relative;
  top: 2px;
  left: -16px;

  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 0;
}

.site-navigation-footer li {
  margin-right: 35px;
}

.site-navigation-footer li:nth-child(3) {
  margin-right: 0;
}

/* Сеточная стилизация социальных сетей и ссылки на HTML Academy подвала сайта */
.social-copyright {
  position: relative;
  top: -18px;

  display: flex;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 65px;
}

.footer-social {
  margin: 0 auto;
}

.footer-social-list {
  position: relative;
  top: 2px;
  left: 15px;

  display: flex;

  margin: 0;
  padding: 0;
}

.footer-social-list li:nth-child(1) {
  padding-right: 23px;
}

.footer-social-list li:nth-child(2) {
  padding-right: 23px;
}

/* Сеточная стилизация модального окна обратной связи */
.modal {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) ;
}

.modal-visible {
  display: block;
}

.modal-write-us {
  width: 760px;

  padding: 95px 100px;
  margin: 0;
  /* margin: 0 100px; */
}

.container-name-email {
  display: flex;
  justify-content: space-between;

  width: 760px;
}

.container-name-email label,
.message label {
  margin-bottom: 10px;
}

.user-name,
.email {
  display: flex;
  flex-direction: column;

  width: 360px;
}

.message {
  display: flex;
  flex-direction: column;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea[type="text"] {
  font: inherit;

  padding: 15px 20px;
}
/* Сеточная стилизация модального окна карты*/
.modal-map {
  width: 960px;
  height: 559px;

  padding: 0;
  margin: 0 100px;
}

.modal-map p {
  margin: 0;
  padding: 0;
}

/* Стилизация кнопки закрытия всплывающего модального окна */
.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: rgba(94%, 77%, 18%, 0.5);
  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  top: 27px;
  left: 13px;

  content: "";

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}


/* ---------------------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;

  font-family: 'Gilroy', 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

/* Стилизация изображений */
img {
  max-width: 100%;
  height: auto;
}

/* Стилизация ссылок */
a {
  text-decoration: none;
}

.main-navigation a,
.about-us a,
.catalog a {
  color: #000000;
}

/* Изменение состояний при наведении на ссылки */
.main-navigation a:hover,
.login-link-header:hover::before,
.difference-header:hover::before,
.purchases-header:hover::before {
  opacity: 0.6;
}

.main-navigation a:active,
.login-link-header:active::before,
.difference-header:active::before,
.purchases-header:active::before {
  opacity: 0.3;
}

/* Стили кнопок */
.button {
  position: relative;
  z-index: 1;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  padding: 10px 40px;

  background-color: transparent;
  border: none;
}

.button::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 17px;

  width: 100%;
  height: 8px;

  content: "";

  background-color: #f0c52e;
}

.button:hover {
  background-color: #f0c52e;
  border: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
  border: none;
}

/* Стили формы поиска */
.search-form input[type="search"] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);

  border: none;
  border-bottom: 2px solid transparent;

  background-color: transparent;
}

.search-form input[type="search"]:hover {
  color: rgba(255, 255, 255, 0.6);
}

.search-form input[type="search"]:focus {
  color: #000000;
  border-bottom: 2px solid #000000;
  }

.button-search {
  visibility: hidden;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;

  padding: 6px 18px;
  background-color: transparent;
  border: solid 2px #000000;
}

.search-form input[type="search"]:focus + .button-search {
  visibility: visible;
}

.button-search:hover {
  color: #ffffff;

  background-color: #000000;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Стили пользовательской навигации */
.user-navigation-header {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;
}

.log-out {
  opacity: 0.3;
}

/* Стили блока навигации по каталогу */
.site-navigation-header {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.nested-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #000000;
  text-transform: none;

  list-style: none;

  background-color: #f7e296;
}
/* Стили "хлебных крошек" */
.breadcrumbs {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

/* Стили фильтра по критериям товара */
.filters-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-align: left;

  /* background-color: #d9d9d9; */
}

.filters legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  background-color: #ebebeb;
}

.cost,
.color,
.bluetooth {
  border: none;
}

.cost input {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #000000;
  opacity: 0.2;
  text-align: center;

  background-color: transparent;
}

/* Стили сортировки товаров */
.sort-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-align: left;
  text-transform: uppercase;

  background-color: #ebebeb;
}

.sort-list {
  list-style: none;
  background-color: #ebebeb;
}

.sort-item a {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
}

.sort-current a,
.sort-current a:hover {
  color: #000000;
}

.button-up,
.button-down {
  background-color: transparent;
}

.button-up:hover,
.button-up:active,
.button-down:hover,
.button-down:active {
  opacity: 0.2;

  background-color: transparent;
}

.color-list,
.bluetooth-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  font-weight: 300;
  color: #000000;
  text-align: left;

  background-color: #ebebeb;
  list-style: none;
}

/* Стили кнопок "вверх" и "вниз" сортировки товаров */
.arrow::before {
  display: inline-block;

  content: "";

  border: 10px solid #000000;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.button-up::before {
  border-top-width: 0;
}

.button-down::before {
  border-bottom-width: 0;
}

.arrow {
  opacity: 0.2;
}

.arrow:hover {
  opacity: 0.4;
}

.arrow:active {
  opacity: 1;
}

.arrow.active {
  opacity: 1;
}


/* Стили каталога товаров */
.liken {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.1px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.liken:hover {
  color: #000000;
}

.liken:active {
  color: rgba(0, 0, 0, 0.2);
}

.button-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #000000;
  text-align: right;

  background-color: transparent;
}

/* Стили пагинации */
.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  color: #000000;
}

.pagination-item:first-child a:hover,
.pagination-item:first-child a:focus,
.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus {
  color: #000000;
}

.pagination-item:first-child:hover,
.pagination-item:first-child:focus,
.pagination-item:last-child:hover,
.pagination-item:last-child:focus {
  background-color: #d9d9d9;
}

.pagination-item:first-child a:active,
.pagination-item:last-child a:active,
.pagination-item:first-child:active,
.pagination-item:last-child:active {
  color: rgba(0, 0, 0, 0.6);

  background-color: #d9d9d9;
}

.pagination-item.active a {
  color: #000000;
}

/* Стили слайдера специальных предложений */
.slider-special-offer .name-offer{
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.5px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 800;
  color: #000000;
  text-transform: none;
  text-align: left;

  background-color: transparent;
}

.name-offer + p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.identification {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.value {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

/* Стили каталога товаров */
.catalog h3,
.catalog-item-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

/* Стили слайдера предоставляемых услуг */
.slider-list {
  list-style: none;

  background-color: #e5e5e5;
}

.slider-list h3,
.vpage-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
  text-align: left;
}

.slider-list p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
  text-align: left;

  background-color: #e5e5e5;
}

.slider-buttons .button:active {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #f7e184;
  text-align: center;

  background-color: #000000;
  border: none;
}

.button:active.button-delivery::before,
.button:active.button-warranty::before,
.button:active.button-credit::before {
  background-color: transparent;
}

.button-delivery.active::before {
  background-color: transparent;
}

.button-delivery.active {
  padding-right: 133px;

  color: #f7e184;

  background-color: #000000;
}

/* Логотипы */
.logotypes-list {
  list-style: none;
}

.logotypes-list img {
  filter: grayscale(100%);
  opacity: 0.2;
}

.logotypes-list img:hover {
  filter: none;
  opacity: 1;
}

/* Стили блоков "О нас" и "Контакты" */
.about-us_contacts h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.about-us_contacts p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.carrier-companies {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
  list-style-type: circle;
}

/* Стили пользовательской навигации снизу */
.user-navigation-footer {
  list-style: none;

  background-color: #464646;
}

.user-navigation-footer a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.7);
}

.user-navigation-footer a:hover {
  color: rgba(255, 255, 255, 1);
}

.user-navigation-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation-footer a:hover .user-navigation-svg{
  opacity: 0.6;
}

.user-navigation-footer a:active .user-navigation-svg {
  opacity: 0.3;
}

/* Стили навигации по каталогу */
.site-navigation-footer {
  list-style: none;
  background-color: #464646;
}

.site-navigation-footer li {
  text-align: center;
}

.site-navigation-footer a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #464646;
}

.site-navigation-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.site-navigation-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Стили адреса */
.address {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: left;

  background-color: #464646;
}

/* Стили социальных сетей */
.footer-social ul {
  list-style: none;

  background-color: #464646;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

/* Стили телефона организации */
.call {
  background-color: #464646;
}

.call a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
}

/* Стили анимации модальных окон */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  /* 100% {
    transform: translateY(0);
  } */
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Стили формы модального окна (Обратная связь) */
.modal-write-us {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea[type="text"] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(70, 70, 70, 0.4);
  text-align: left;

  background-color: rgba(242, 242, 242, 0.5);
  border: none;
}

/* Стилизация скрытых блоков, заголовков, надписей */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стиль отвечающий за показ модального окна */
.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}
