/* Подключение нестандартных шрифтов */
@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  src: local('Gilroy'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weigh
  t: 300;
  font-style: normal;
  src: local('Gilroy'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

/* Подсветка отдельных блоков сайта */
/* body > * {
  outline: red solid 2px;
}

body > * > * {
  outline: green solid 2px;
}

body > * > * > * {
  outline: blue solid 2px;
} */

/* Сеточная стилизация шапки сайта */
.layout-container {
  margin: 0 auto;
  padding: 0 20px;

  width: 1160px;
}

.main-header {
  margin-top: 40px;

  background-color: rgba(94%, 77%, 18%, 0.5);
}

.main-navigation {
  position: relative;

  padding-top: 29px;
  padding-left: 60px;
  padding-right: 55px;
  /* padding-bottom: 40px; */
}

/* Сеточная стилизация логотипа */
.main-header-logo {
  position: absolute;
  top: -18px;

  width: 163px;
  height: 35px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Сеточная стилизация формы поиска */
.search-form {
  display: flex;
  justify-content: space-between;

  margin-right: 76px;
  margin-bottom: 32px;

  width: 440px;
}

.search-form input[type="search"] {
  display: inline-block;

  padding: 6px 0 4px 40px;

  width: 355px;
}

/* Сеточная стилизация пользовательской навигации */
.user-navigation-header {
  display: flex;
  justify-content: flex-end;

  width: 600px;

  margin: 0;
  /* margin-left: 100px; */
  padding: 0;
  padding-right: 5px;

  list-style: none;
}

.user-navigation-header .login-link,
.user-navigation-header .difference,
.user-navigation-header .purchases {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 24px;
  left: 24px;

  width: 12px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.difference::before {
  content: "";

  position: absolute;
  top: 26px;
  left: 29px;

  width: 12px;
  height: 12px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.purchases::before {
  content: "";

  position: absolute;
  top: 24px;
  left: 28px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.difference {
  padding-right: 12px;
}

.login-link {
  margin-right: auto;
}

/* Сеточная стилизация навигации по каталогу */
.site-navigation-header {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  list-style: none;
}

.site-navigation-header > li:first-child:hover .nested-list {
  display: flex;
}

.site-navigation-header > li {
  position: relative;
}

.site-navigation-header > li:nth-child(1) {
  margin-right: auto;
}

.site-navigation-header > li:nth-child(3) {
  margin-left: 33px;
}

.site-navigation-header > li:nth-child(4) {
  margin-left: 110px;
}

/* Сеточная стилизация вложенного списка навигации каталога товаров*/
.nested-list {
  position: absolute;
  z-index: 5;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  height: 110px;
  width: 1160px;

  margin: 0;
  margin-top: 20px;
  margin-left: -60px;
  padding: 0;
}

.nested-list a {
  display: block;
}

.nested-list li {
  margin-left: 60px;

  width: 200px;
}

.nested-list li:nth-child(1),
.nested-list li:nth-child(2),
.nested-list li:nth-child(3) {
  margin-right: -21px;
}

.nested-list li:nth-child(4),
.nested-list li:nth-child(5) {
  margin-right: -60px;
}

.nested-list li:nth-child(6)  {
  height: 100px;
}

/* Сеточная стилизация первого слайдера главной страницы*/
.slider-special-offer {
  position: relative;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 300%;
}

.slider-slides .slide-1-monopod,
.slider-slides .slide-2-fitness-bracelet,
.slider-slides .slide-3-quadcopter {
  float: left;
}

.slide-1-monopod,
.slide-2-fitness-bracelet,
.slide-3-quadcopter {
  display: flex;

  height: 486px;
  width: 1160px;

  position: relative;
  top: -110px;
}

.slide-1-monopod img {
  order: -1;

  padding-left: 90px;
  padding-right: 125px;
}

.slide-2-fitness-bracelet img {
  order: -1;

  padding-left: 90px;
  padding-right: 139px;
}

.slide-3-quadcopter img {
  order: -1;

  padding-left: 84px;
  padding-right: 42px;
}

.monopod-container {
  padding-right: 80px;
}

.fitness-bracelet-container {
  padding-right: 90px;
}

.quadcopter-container {
  padding-right: 30px;
}

/* Стилизация первого абзаца слайдера */
.name-offer::before {

}

/* .table-container {
  table-layout: fixed;
}

.table-container tr {

} */



/* Сеточная стилизация блока каталога товаров */
.catalog-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 200px;
  padding: 0;
}

.catalog-list a {
  display: flex;
  flex-wrap: wrap;

  width: 160px;
}

.catalog-list h3 {
  order: 1;
}

.catalog-list-image {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;

  background-color: rgba(94%, 77%, 18%, 0.5);
}

.catalog-list-image:hover {
  background-color: #f0c52e;
}

/* Сеточная стилизация cлайдера предоставляемых услуг */
.slider-service-container {
  background-color: #e5e5e5;
}

.slider-service {
  display: flex;
  justify-content: space-between;
}

.slider-bottons {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.slider-list {
  width: 800px;

  margin: 0;
  padding: 0;
  padding-left: 120px;
}

.slide-service-1 {
  display: flex;

  /* padding-left: 117px; */
}

/* .slide-service-1 h3 {
  position: relative;
  top: -90px;
}

.slide-service-1 p {
  position: relative;
  top: -90px;

  padding-right: 130px;
}

.slide-service-1 img {
  padding-right: 206px;

  position: relative;
  top: -33px;
} */

/* Сеточная стилизация блока "Логотипы" */
.logotypes-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

/* Сеточная стилизация блоков "О нас" и "Контакты" */
.about-us_contacts {
  display: flex;
  justify-content: space-between;
}

.about-us_contacts h2::before {
  content: "";

  position: absolute;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

/* Пока ничего не вышло, надо исправить */
.about-us {
  display: relative;
  /* padding-right: 85px; */
}

.contacts {
  display: relative;
}

.about-us h2 {
  display: block;
}

.about-us h2::before,
.contacts h2::before {
  position: absolute;

  width: 80px;
  height: 7px;
  color: #000000;

  content: "";
}

/* Сеточная стилизация заголовка страницы каталога */
.vpage-title {
  padding-left: 60px;
}

/* Сеточная стилизация "хлебных крошек" страницы каталога */
.breadcrumbs {
  display: flex;

  margin: 0;
  padding: 0;
  padding-left: 60px;
  margin-bottom: 50px;
}

.breadcrumbs li {
  position: relative;
  padding-right: 35px;
}

.breadcrumbs a::before {
  position: absolute;
  top: 8px;
  right: 18px;
  z-index: 2;

  width: 10px;
  height: 10px;

  content: "";

  background-color: #ffffff;
}

.breadcrumbs a::after {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;

  content: "";

  width: 26px;
  height: 26px;

  background-color: #ffffff;
  box-shadow: 1px 1px 0 4px #000000;
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.17);
}

/* Вспомогательное оформление */
/* .filters {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
} */

/* Общая сеточная стилизация фильтров страницы каталога */
.filters legend {
  position: relative;

  margin-bottom: 25px;
}

.filters legend::before {
  position: absolute;
  top: -10px;

  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.filters ul {
  margin: 0;
  padding: 0;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  border: none;
}

.filter-option {
  margin-bottom: 17px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 8px;

  width: 20px;
  height: 20px;

  border: 2px solid #000000;
  border-radius: 10%;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 12px;
  left: -38px;

  width: 16px;
  height: 16px;

  background-color: #000000;
  /* background-image: url("../img/checkbox-on.svg"); */
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: 8px;

  width: 18px;
  height: 18px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 16px;
  left: -34px;

  width: 10px;
  height: 10px;

  background-color: #000000;
  border-radius: 50%;
}

/* Сеточная стилизация фильтра по критериям товара страницы каталога */
.filters-name {
  display: block;

  margin: 0;
  margin-bottom: 65px;
  padding: 20px 0;

  background-color: #d9d9d9
}

/* Сеточная стилизация фильтра выбора стоимости страницы каталога */
.range-controls {
  position: relative;

  margin-bottom: 10px;

  background-color: #ebebeb;
}

.range-controls .scale {
  height: 2px;

  background: #dbdbdb;
}

.range-controls .bar {
  width: 55%;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
}

.range-controls .toggle-max {
  left: 108px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.2);

  display: inline-block;
  width: 50%;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;

  border: none;
  background: #f1f1f1;
}

/* Сеточная стилизация сортировки товаров страницы каталога */
.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  padding: 20px 0;

  background-color: #ebebeb;
}

.sort-name {
  margin-left: 73px;
  margin-right: 55px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.sort-list li {
  margin-right: 25px;
}

.arrow-buttons {
  margin-left: auto;
}

.arrow {
  display: inline-block;
  margin: 0 15px;
}

.button-down {
  margin: 0;
}

/* Сеточная стилизация фильтра и каталога товаров страницы каталога */
.filters-catalog-container {
  display: flex;
}

.filters-container {
  padding-left: 60px;
  padding-right: 67px;

  width: 200px;

  background-color: #ebebeb;
}

.catalog-list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-left: 73px;
  padding-top: 49px;

  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.item-container h3 {
  width: 260px;
}

.catalog-item .catalog-item-image {
  order: -1;
}

/* Сеточная стилизация пагинации страницы каталога */
.pagination-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  margin-left: 73px;
  padding: 0;

  background-color: #ebebeb;
}

.pagination-item a {
  display: block;
  padding: 25px 15px;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  padding-left: 30px;
  padding-right: 30px;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

/* .filter {
  display: flex;

  background-color: #ebebeb;
} */

/* Сеточная стилизация подвала сайта */
.main-footer {
  display: flex;
  flex-direction: column;

  margin-top: 80px;

  background-color: #464646;
}

.main-footer-logo {
  position: absolute;
  top: 65px;
  left: 20px;

  width: 163px;
  height: 35px;
}

.logo-user-navigation {
  display: flex;
  justify-content: flex-end;

  position: relative;
}

.user-navigation-footer {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
  padding-top: 35px;
}

.user-navigation-footer li {
  margin-left: 40px;
}

.address-site-navigation-call {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-right: 20px;
  margin-left: 20px;
}

.site-navigation-footer {
  display: flex;
  justify-content: space-between;

  width: 440px;
}

.social-copyright {
  display: flex;

  padding-top: 60px;
  padding-bottom: 65px;
}

.social-copyright a {
  /* margin-left: auto; */
}

.footer-social {
  margin: 0 auto;
}

.footer-social-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.footer-social-list li:nth-child(1) {
  padding-right: 23px;
}

.footer-social-list li:nth-child(2) {
  padding-right: 23px;
}

/* Сеточная стилизация модального окна обратной связи */
.modal {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) ;
}

.modal-visible {
  display: block;
}

.modal-write-us {
  width: 760px;

  padding: 95px 100px;
  margin: 0 100px;
}

.container-name-email {
  display: flex;
  justify-content: space-between;

  width: 760px;
}

.container-name-email label,
.message label {
  margin-bottom: 10px;
}

.user-name,
.email {
  display: flex;
  flex-direction: column;

  width: 360px;
}

.message {
  display: flex;
  flex-direction: column;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea[type="text"] {
  font: inherit;

  padding: 15px 20px;
}
/* Сеточная стилизация модального окна карты*/
.modal-map {
  width: 960px;
  height: 559px;

  padding: 0;
  margin: 0 100px;
}

.modal-map p {
  margin: 0;
  padding: 0;
}

/* Стилизация кнопки закрытия всплывающего модального окна */
.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: rgba(94%, 77%, 18%, 0.5);
  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  top: 27px;
  left: 13px;

  content: "";

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}


/* ---------------------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;

  font-family: 'Gilroy', 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

/* Стилизация изображений */
img {
  max-width: 100%;
  height: auto;
}

/* Стилизация ссылок */
a {
  text-decoration: none;
}

.main-navigation a,
.main-footer a,
.about-us a,
.catalog a {
  color: #000000;
}

/* Изменение состояний при наведении на ссылки */
.main-navigation a:hover,
.main-footer a:hover,
.login-link:hover::before,
.difference:hover::before,
.purchases:hover::before {
  opacity: 0.6;
}

.main-navigation a:active,
.main-footer a:active,
.login-link:active::before,
.difference:active::before,
.purchases:active::before {
  opacity: 0.3;
}

/* Стили кнопок */
.button {
  position: relative;
  z-index: 1;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  padding: 10px 40px;

  background-color: transparent;
  border: none;
}

.button::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 17px;

  width: 100%;
  height: 8px;

  content: "";

  background-color: #f0c52e;
}

.button:hover {
  background-color: #f0c52e;
  border: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
  border: none;
}

/* Стили формы поиска */
.search-form input[type="search"] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  /* color: rgba(255, 255, 255, 0.3); */
  border: none;

  background-color: transparent;
}

.search-form input[type="search"]:focus {
  color: #000000;
  border-bottom: 2px solid #000000;
  }

.search-form input[type="search"]:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-search {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;

  padding: 6px 18px;
  background-color: transparent;
  border: solid 2px #000000;
}

.button-search:hover {
  color: #ffffff;

  background-color: #000000;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Стили пользовательской навигации */
.user-navigation-header {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;
}

.log-out {
  opacity: 0.3;
}

/* Стили блока навигации по каталогу */
.site-navigation-header {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.nested-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #000000;
  text-transform: none;

  list-style: none;

  background-color: #f7e296;
}
/* Стили "хлебных крошек" */
.breadcrumbs {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

/* Стили фильтра по критериям товара */
.filters-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-align: left;

  /* background-color: #d9d9d9; */
}

.filters legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  background-color: #ebebeb;
}

.cost,
.color,
.bluetooth {
  border: none;
}

.cost input {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #000000;
  opacity: 0.2;
  text-align: center;

  background-color: transparent;
}

/* Стили сортировки товаров */
.sort-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-align: left;
  text-transform: uppercase;

  background-color: #ebebeb;
}

.sort-list {
  list-style: none;
  background-color: #ebebeb;
}

.sort-item a {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
}

.sort-current a {
  color: #000000;
}

.button-up,
.button-down {
  background-color: transparent;
}

.button-up:hover,
.button-up:active,
.button-down:hover,
.button-down:active {
  opacity: 0.2;

  background-color: transparent;
}

.color-list,
.bluetooth-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  font-weight: 300;
  color: #000000;
  text-align: left;

  background-color: #ebebeb;
  list-style: none;
}

/* Стили кнопок "вверх" и "вниз" сортировки товаров */
.arrow::before {
  display: inline-block;
  content: "";
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.button-up::before {
  border-top-width: 0;
}

.button-down::before {
  border-bottom-width: 0;
}

/* Не работает */
.arrow::before:hover,
.arrow::before:focus {
  border-color: rgba(0, 0, 0, 0.4);
}

.arrow::before:active {
  border-color: #000000;
}

.arrow-current {
  border-color: #000000;
}

/* Стили каталога товаров */
.catalog-item-image:hover {
  opacity: 0.7;
}

.button-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #000000;
  text-align: right;

  background-color: transparent;
}

/* Стили пагинации */
.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  color: #000000;
}

.pagination-item:first-child a:hover,
.pagination-item:first-child a:focus,
.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus {
  color: #000000;
}

.pagination-item:first-child:hover,
.pagination-item:first-child:focus,
.pagination-item:last-child:hover,
.pagination-item:last-child:focus {
  background-color: #d9d9d9;
}

.pagination-item:first-child a:active,
.pagination-item:last-child a:active,
.pagination-item:first-child:active,
.pagination-item:last-child:active {
  color: rgba(0, 0, 0, 0.6);

  background-color: #d9d9d9;
}

/* Стили слайдера специальных предложений */
.slider-special-offer .name-offer{
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #000000;
  text-transform: none;
  text-align: left;

  background-color: transparent;
}

.name-offer + p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.identification {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.value {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

/* Стили каталога товаров */
.catalog h3,
.catalog-item-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

/* Стили слайдера предоставляемых услуг */
.slider-list {
  list-style: none;

  background-color: #e5e5e5;
}

.slider-list h3,
.vpage-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
  text-align: left;
}

.slider-list p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
  text-align: left;

  background-color: #e5e5e5;
}

.button-delivery,
.button-warranty,
.button-credit {
  padding: 10px 20px;
}

.button-delivery:active,
.button-warranty:active,
.button-credit:active {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #f7e184;
  text-align: center;

  padding-left: 20px;
  padding-right: 110px;
  background-color: #000000;
  border: none;
}

/* Логотипы */
.logotypes-list {
  list-style: none;
}

/* Стили блоков "О нас" и "Контакты" */
.about-us_contacts h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.about-us_contacts p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.carrier-companies {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
  list-style-type: circle;
}

/* Стили пользовательской навигации снизу */
.user-navigation-footer {
  list-style: none;

  background-color: #464646;
}

.user-navigation-footer a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.7;
}

.user-navigation-footer a:hover {
  color: #ffffff;
  opacity: 1;
}

.user-navigation-footer a:active {
  color: #ffffff;
  opacity: 0.3;
}

/* Стили навигации по каталогу */
.site-navigation-footer {
  list-style: none;
  background-color: #464646;
}

.site-navigation-footer li {
  text-align: center;
}

.site-navigation-footer a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #464646;
}

/* Стили адреса */
address {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: left;

  background-color: #464646;
}

/* Стили социальных сетей */
.footer-social ul {
  list-style: none;

  background-color: #464646;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

/* Стили телефона организации */
.call {
  background-color: #464646;
}

.call a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
}

/* Стили анимации модальных окон */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Стили формы модального окна (Обратная связь) */
.modal-write-us {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea[type="text"] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(70, 70, 70, 0.4);
  text-align: left;

  background-color: rgba(242, 242, 242, 0.5);
  border: none;
}

/* Стилизация скрытых блоков, заголовков, надписей */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стиль отвечающий за показ модального окна */
.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}
