/* Подключение нестандартных шрифтов */
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: local("Gilroy Light"),
       local("Gilroy-Light"),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy ExtraBold"),
       local("Gilroy-ExtraBold"),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

/* Сеточная стилизация шапки сайта */
.layout-container {
  position: relative;

  margin: 0 auto;
  padding: 0 20px;

  width: 1160px;
}

/* Стилизация градиента */
.main-catalog {
  position: relative;
}

.main-catalog:before {
  content: '';

  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;

  height: 100%;
  width: 36.7%;

  background-image: linear-gradient(to bottom, #d9d9d9 0%, #d9d9d9 71px, #ebebeb 71px, #ebebeb 100%);
}

.main-catalog:after {
  content: '';

  display: block;
  position: absolute;
  top: 0px;
  left: 36.7%;
  z-index: -1;

  height: 71px;
  width: 63.3%;

  background: #ebebeb;
}

.main-header {
  margin-top: 40px;

  background-color: rgba(94%, 77%, 18%, 0.5);
}

.main-navigation {
  position: relative;

  padding-top: 36px;
  padding-left: 60px;
  padding-right: 55px;
}

/* Сеточная стилизация логотипа */
.main-header-logo {
  position: absolute;
  top: -18px;

  width: 163px;
  height: 35px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Сеточная стилизация формы поиска */
.search-form {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-right: 76px;
  margin-bottom: 31px;
}

.search-form::before {
  position: absolute;
  top: 16px;
  left: 3px;

  content: "";

  width: 10px;
  height: 10px;
  border: 2px solid #000000;

  border-radius: 50%;
}

.search-form::after {
  position: absolute;
  top: 28px;
  left: 13px;

  content: "";

  width: 7px;
  height: 2px;
  background-color: #000000;

  transform: rotate(45deg);
}

.search-form input[type="search"] {
  display: inline-block;
  vertical-align: baseline;

  padding: 6px 0 6px 40px;

  width: 355px;
  height: 44px;
}

.search-form:focus-within .button-search {
visibility: visible;
}

/* Сеточная стилизация пользовательской навигации */
.user-navigation-header {
  display: inline-flex;
  justify-content: flex-start;

  width: 509px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.difference-header {
  margin-right:auto;
}

.login-link-header {
  margin-right: 207px;
}

.catalog-header {
  margin: 0;
}

.catalog-header .log-out {
  padding-left: 15px;
}

.user-navigation-header .log-out {
  margin-right: 53px;
}

.purchases-header {
  margin-right: 5px;
}

.user-navigation-header li {
  position: relative;
}

.user-navigation-header a {
  padding-left: 30px;
}

.login-link-header::before {
  position: absolute;
  top: 9px;
  left: 4px;

  content: "";

  width: 12px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.difference-header::before {
  position: absolute;
  top: 11px;
  left: 11px;

  content: "";

  width: 12px;
  height: 12px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.purchases-header::before {
  position: absolute;
  top: 9px;
  left: 8px;

  content: "";

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Сеточная стилизация навигации по каталогу */
.site-navigation-header {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  list-style: none;
}

.drop-down-list {
  padding-bottom: 163px;
}

.site-navigation-header > li:first-child:hover .nested-list {
  display: flex;
}

.site-navigation-header > li {
  position: relative;
}

.site-navigation-header > li:nth-child(1) {
  margin-right: 291px;
}

.site-navigation-header > li:nth-child(2) {
  margin-right: 35px;
}

.site-navigation-header > li:nth-child(4) {
  margin-left: auto;
}

.site-navigation-header > li:nth-child(6) {
  margin-right: 0;
}

.drop-down-point {
  position: relative;

  display: inline-block;
  vertical-align: baseline;

  padding-right: 30px;
}

.drop-down-point::before {
  position: absolute;
  top: 11px;
  left: 230px;

  content: "";

  width: 16px;
  height: 2px;

  background-color: #b8a974;

  cursor: pointer;
}

.drop-down-point::after {
  position: absolute;
  top: 11px;
  left: 230px;

  content: "";

  width: 16px;
  height: 2px;

  background-color: #b8a974;
  transform: rotate(90deg);

  cursor: pointer;
}

/* Сеточная стилизация вложенного списка навигации каталога товаров*/
.nested-list {
  position: absolute;
  left: -60px;
  z-index: 6;

  width: 800px;

  display: none;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 300px;
  padding-bottom: 55px;
}

.nested-list a {
  display: block;
}

.nested-list li {
  position: relative;
  top: 20px;

  width: 200px;
}

.nested-list li:nth-child(6n) {
  width: 800px;
}

.nested-list li:nth-child(1n),
.nested-list li:nth-child(4n) {
  margin-right: 40px;
}

.nested-list li:nth-child(3n+2) {
  margin-right: 0;
}

/* Сеточная стилизация первого слайдера главной страницы*/
.slider-special-offer {
  position: relative;

  background-color: #ffffff;
}

.slider-slides {
  padding: 0;
  margin: 0;

  list-style: none;
}

.slider-item {
  display: none;

  height: 486px;
  width: 1160px;

  position: relative;
  top: -110px;
}

.slider-item:nth-child(1) img {
  order: -1;
  flex-shrink: 0;

  padding-left: 90px;
  padding-right: 125px;
}

.slider-item:nth-child(2) img {
  order: -1;
  flex-shrink: 0;

  padding-left: 90px;
  padding-right: 139px;
}

.slider-item:nth-child(3) img {
  position: relative;
  top: 64px;
  order: -1;
  flex-shrink: 0;

  width: 526px;
  height: 334px;
  padding-left: 31px;
  padding-right: 23px;
}

.label-controls {
  position: absolute;
  top: 206px;
  right: 41px;
  z-index: 8;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
}

.label-controls label {
  position: relative;

  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 16px;

  border-radius: 50%;
  cursor: pointer;

  padding: 8px;
  margin-right: 1px;

  background-color: #ffffff;
}

.label-controls label::after {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;

  content: "";

  width: 10px;
  height: 10px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.label-controls .label::before {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 2;

  content: "";

  width: 4px;
  height: 4px;

  border-radius: 50%;
  border: 1px solid #000000;
  transform: scale(0.8);
  cursor: pointer;
}

#product-1:checked ~ .slider-slides .slider-item.slider-item:nth-child(1) {
  display: flex;
}

#product-2:checked ~ .slider-slides .slider-item.slider-item:nth-child(2) {
  display: flex;
}

#product-3:checked ~ .slider-slides .slider-item.slider-item:nth-child(3) {
  display: flex;
}

#product-1:checked ~ .label-controls .slider-controls-item--1::before,
#product-2:checked ~ .label-controls .slider-controls-item--2::before,
#product-3:checked ~ .label-controls .slider-controls-item--3::before {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 2;

  content: "";

  width: 4px;
  height: 4px;

  border-radius: 50%;
  border: 1px solid #000000;
  transform: scale(0.8);
  cursor: pointer;
}

.name-offer {
  position: relative;
  top: 30px;
  z-index: 1;

  margin-bottom: 50px;
}

.name-offer::before {
  position: absolute;
  top: -41px;

  content: "";

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.name-offer::after {
  position: absolute;
  top: -92px;
  left: 330px;
  z-index: -1;

  content: "01";
}

.slider-item:nth-child(1) .name-offer::after {
  content: "01";
}

.slider-item:nth-child(2) .name-offer::after {
  content: "02";
}

.slider-item:nth-child(3) .name-offer::after {
  content: "03";
}

.name-offer + p {
  margin-bottom: 51px;
}

.monopod-container {
  padding-left: 1px;
  padding-right: 74px;
}

.fitness-bracelet-container {
  padding-left: 26px;
  padding-right: 104px;
}

.quadcopter-container {
  padding-left: 20px;
  padding-right: 10px;
}

/* Сеточная стилизация таблицы слайдера */
.table-container {
  position: relative;
  left: -1px;

  display: flex;

  width: 486px;

  margin: 0;
  margin-top: 57px;
  padding: 0;

  border-collapse: collapse;
}

.value,
.identification {
  display: flex;
}

.identification {
  position: relative;
  top: 5px;
}

.value td:nth-child(1) {
  padding-right: 77px;
}

.value td:nth-child(2) {
  padding-right: 75px;
}

.identification td:nth-child(1) {
  padding-right: 80px;
}

.identification td:nth-child(2) {
  padding-right: 79px;
}

.quadcopter-value td:nth-child(1) {
  padding-right: 58px;
}

.quadcopter-identification td:nth-child(1) {
  padding-right: 47px;
}

/* Сеточная стилизация блока каталога товаров */
.catalog {
  position: relative;
  top: -5px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 121px;
  padding: 0;
}

.catalog-list li {
  margin-right: 40px;
  margin-bottom: 80px;
}

.catalog-list li:nth-child(6n) {
  margin-right: 0;
}

.catalog-list a {
  display: flex;
  flex-wrap: wrap;

  width: 160px;

  margin-bottom: -43px;
}

.catalog-list h3 {
  order: 1;
}

.catalog-list-image {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;

  width: 160px;
  height: 160px;

  background-color: rgba(94%, 77%, 18%, 0.5);
}

.catalog-list-image-reality img {
  margin-right: 1px;
  margin-bottom: 2px;
}

.catalog-list-image-monopod {
  align-items: flex-end;
}

.catalog-list-image-monopod img {
  margin-left: 2px;
  margin-bottom: 2px;
}

.catalog-list-image-camera img {
  margin-top: 2px;
  margin-left: 10px;
}

.catalog-list-image-bracelet img {
  margin-top: 4px;
  margin-left: 4px;
}

.catalog-list-image-clock img {
  margin-top: 2px;
  margin-left: 6px;
}

.catalog-list-image-quadcopter img {
  margin-top: 6px;
  margin-right: 1px;
}

.catalog-list-image:hover {
  background-color: #f0c52e;
}

.catalog-list-image:active {
  background-color: #f0c52e;
}

.catalog-list-image:active img {
  opacity: 0.3;
}

.catalog-list li:active h3 {
  opacity: 0.3;
}

/* Сеточная стилизация cлайдера предоставляемых услуг */
.slider-service-container {
  background-color: #e5e5e5;
}

.slider-service {
  display: flex;
  align-items: flex-start;

  padding-bottom: 41px;
  margin-bottom: 94px;
}

/* Сеточная стилизация кнопок */
.slider-buttons {
  position: relative;
  top: -20px;

  width: 284px;

  margin-right: 117px;
}

.slider-buttons::after {
  position: absolute;
  top: -80px;
  left: 277px;

  content: "";

  width: 7px;
  min-height: 319px;
  height: 110%;
  background-color: #000000;
}

.slider-buttons .button {
  display: block;

  padding: 8px 20px;
  margin-bottom: 23px;
}

.slider-buttons .button-warranty {
  padding-left: 25px;
  padding-right: 21px;
  margin-bottom: 25px;
}

.slider-buttons .button-credit {
  padding-left: 37px;
  padding-right: 36px;
}

.button-delivery:active {
  padding-right: 133px;
}

.button-warranty:active {
  padding-right: 138px;
}

.button-credit:active {
  padding-right: 152px;
}

/* Сеточная стилизация содержимого слайдера */
.slider-list {
  width: 700px;

  margin: 0;
  padding: 0;
}

.slide-service-item {
  position: relative;
  top: -1px;

  display: none;
}

.slide-service-item:nth-child(1) {
  display: flex;
}

.slider-list div {
  position: relative;
  top: -73px;

  margin: 0;
  padding: 0;
}

.slide-service-item:nth-child(1) p {
  position: relative;
  top: -16px;

  margin-left: -1px;
  padding-right: 250px;
}

.slide-service-item:nth-child(2) p {
  position: relative;
  top: -16px;

  margin-left: -1px;
  padding-right: 250px;
}

.slide-service-item:nth-child(3) p {
  position: relative;
  top: -16px;

  margin-left: -1px;
  padding-right: 270px;
}

.slide-service-item:nth-child(1) div::after {
  position: absolute;
  top: 59px;
  right: 7px;

  content: "";

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-service-item:nth-child(2) div::after {
  position: absolute;
  top: 35px;
  right: -12px;

  content: "";

  width: 171px;
  height: 194px;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-service-item:nth-child(3) div::after {
  position: absolute;
  top: 34px;
  right: 12px;

  content: "";

  width: 156px;
  height: 186px;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Сеточная стилизация блока "Логотипы" */
.logotypes {
  margin-bottom: 100px;
}

.logotypes-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.logotypes-list li {
  margin-right: 40px;
}

.logotypes-list li:nth-child(3) {
  margin-right: 37px;
}

.logotypes-list li:nth-child(4n) {
  margin-right: 0;
}

/* Сеточная стилизация блоков "О нас" и "Контакты" */
.about-us_contacts {
  display: flex;
  justify-content: space-between;

  margin-bottom: 90px;
}

.about-us_contacts h2 {
  position: relative;

  margin-left: -2px;
  margin-bottom: 43px;
}

.about-us_contacts h2::before {
  position: absolute;
  top: -52px;
  left: 2px;

  content: "";

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us {
  position: relative;

  width: 480px;
}

.contacts {
  position: relative;

  width: 560px;
}

.about-us p {
  padding-right: 20px;
  padding-bottom: 15px;
}

.about-us .second-paragraph {
  padding-right: 0;
  margin-bottom: 51px;
}

.about-us .button {
  padding-left: 22px;
  padding-right: 20px;
}

.contacts .button {
  padding-right: 36px;
}

.carrier-companies {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  padding-left: 35px;
}

.carrier-companies li {
  position: relative;
}

.carrier-companies li::before {
  position: absolute;
  top: 16px;
  left: -34px;

  width: 4px;
  height: 4px;
  border-radius: 50%;

  content: "";

  border: 2px solid rgba(0, 0, 0, 0.2);
}

.contacts p {
  margin-bottom: 40px;
}

.contacts .map {
  padding-bottom: 27px;
}

/* Сеточная стилизация заголовка страницы каталога */
.page-title {
  padding-left: 60px;
  padding-top: 5px;

  margin-bottom: 24px;
}

/* Сеточная стилизация "хлебных крошек" страницы каталога */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  width: 450px;

  margin: 0;
  padding: 0;
  padding-left: 60px;
  margin-bottom: 45px;
}

.breadcrumbs li {
  position: relative;

  padding-right: 35px;
}

.breadcrumbs li:nth-child(3n) {
  /* padding-right: 0; */
  padding-left: 5px;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a::before {
  position: absolute;
  top: 7px;
  right: 16px;
  z-index: 2;

  width: 10px;
  height: 10px;

  content: "";

  background-color: #ffffff;
}

.breadcrumbs li:nth-child(1) a::before {
  right: 20px;
}

.breadcrumbs a::after {
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 1;

  content: "";

  width: 24px;
  height: 24px;

  background-color: #ffffff;
  box-shadow: 1px 1px 0 4px #000000;
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.17);
}

.breadcrumbs li:nth-child(1) a::after {
  right: 8px;
}

/* Общая сеточная стилизация фильтров страницы каталога */
.filters {
  width: 201px;
}

.filters legend {
  position: relative;

  margin-bottom: 35px;
}

.filters legend::before {
  position: absolute;
  top: -12px;
  left: 1px;

  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.filters ul {
  margin: 0;
  padding: 0;
}

.filters fieldset {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 40px;
  padding: 0;

  border: none;
}

.filters .color {
  margin-bottom: 44px;
}

.filters .bluetooth {
  margin-bottom: 30px;
}

.filter-button {
  position: relative;
  left: -4px;
}

.color .color-list {
  margin: 0;
  padding: 0;
}

.filter-option label {
  position: relative;
  top: 1px;
  left: 43px;

  display: block;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  position: absolute;
  top: 8px;
  left: -42px;

  content: "";

  width: 19px;
  height: 19px;

  border: 2px solid #000000;
  border-radius: 10%;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  top: 8px;
  left: -42px;

  content: "";

  width: 30px;
  height: 30px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked.filter-input-checkbox + label::before {
  visibility: hidden;
}

.filter-option input:focus + label::before,
.filter-option input:hover + label::before,
.filter-option input:focus + label::after,
.filter-option input:hover + label::after,
.filter-input-checkbox:disabled + label,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-radio:disabled + label,
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after {
  opacity: 0.6;
}

.filter-option input + label::before,
.filter-option input:focus:active + label::before,
.filter-option input:active + label::before,
.filter-option input:focus:active + label::after,
.filter-option input:active + label::after {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -42px;

  width: 18px;
  height: 18px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 15px;
  left: -34px;

  width: 10px;
  height: 10px;

  background-color: #000000;
  border-radius: 50%;
}

/* Сеточная стилизация фильтра по критериям товара страницы каталога */
.filters-name {
  display: block;

  margin: 0;
  margin-bottom: 82px;
  padding: 23px 0;
}

/* Сеточная стилизация фильтра выбора стоимости страницы каталога */
.range-controls {
  position: relative;

  margin-bottom: 10px;

  background-color: #ebebeb;
}

.range-controls .scale {
  width: 196px;
  height: 2px;

  padding-left: 5px;

  background: #dbdbdb;
}

.range-controls .bar {
  width: 55%;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
}

.toggle:active {
  border: 9px solid #ffffff;
}

.range-controls .toggle-min {
  left: -5px;
}

.range-controls .toggle-max {
  left: 108px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-flex;
  vertical-align: baseline;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.2);

  width: 45%;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;
  margin-left: 5px;

  border: none;
  background: #f1f1f1;
}

.color legend,
.bluetooth legend {
  margin-bottom: 17px;
}

/* Сеточная стилизация сортировки товаров страницы каталога */
.catalog-container {
  Background-color: #ffffff;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #ebebeb;
}

.sort-name {
  margin-left: 73px;
  margin-right: 56px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  width: 400px;

  margin: 0;
  padding: 0;
}

.sort-list li {
  margin-right: 32px;
}

.sort-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active {
  color: #000000;
}

.arrow-buttons {
  margin-left: auto;
}

.arrow {
  display: inline-block;
  vertical-align: baseline;
}

.button-down {
  margin-left: 15px;
}

/* Сеточная стилизация фильтра и каталога товаров страницы каталога */
.filters-catalog-container {
  display: flex;
}

.filters-container {
  padding-left: 60px;
  padding-right: 67px;

  width: 200px;
  background-color: #ebebeb;
  background-image: linear-gradient(to bottom, #d9d9d9 0%, #d9d9d9 71px, #ebebeb 71px, #ebebeb 100%);
}

.catalog-list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 762px;

  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-top: 51px;
  margin-bottom: 7px;

  list-style: none;

  background-color: #ffffff;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: -8px;
}

.catalog-item-image {
  position: relative;
  order: -1;

  padding: 18px 0;
}

.catalog-item-new::before {
  position: absolute;
  z-index: 1;
  top: 66px;
  right: 39px;

  content: "new";
}

.catalog-item-new::after {
  position: absolute;
  z-index: 1;
  top: 46px;
  right: 27px;

  content: "";

  width: 57px;
  height: 57px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.item-container {
  position: relative;
  top: -15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.item-container h3 {
  width: 260px;
}

.actions {
  display: none;

  position: absolute;
  top: 18px;
  left: 0;
  z-index: 8;

  width: 360px;
  height: 381px;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-image:hover .actions {
  display: block;
}

.catalog-item-image:focus-within .actions {
display: block;
}

.actions .buy,
.actions .liken {
  position: relative;
  top: 171px;
  left: 2px;
  z-index: 8;

  display: block;

  width: 200px;

  margin: 0 auto;
}

.actions .button {
  padding: 9px 0;
  margin-bottom: 5px;
}

/* Сеточная стилизация пагинации страницы каталога */
.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  width: 762px;

  margin: 0;
  margin-left: 73px;
  margin-bottom: 77px;
  padding: 0;

  background-color: #ebebeb;
}

.pagination-item a {
  display: block;

  padding: 23px 14px;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  padding-left: 30px;
  padding-right: 30px;
}

.pagination-item:nth-child(2) {
  padding-left: 10px;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

/* Сеточная стилизация подвала сайта */
.main-footer {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
  min-width: 1160px;

  background-color: #464646;
}

/* Сеточная стилизация логотипа подвала сайта */
.logo-user-navigation {
  position: relative;

  display: flex;
  align-items: baseline;

  margin-bottom: 35px;
}

.footer-catalog-navigation {
  margin-bottom: 16px;
}

.main-footer-logo {
  position: relative;
  top: 16px;

  margin-right: auto;
}

.main-footer-logo svg:hover {
  opacity: 0.6;
}

.main-footer-logo svg:active {
  opacity: 0.3;
}

/* Сеточная стилизация пользовательской навигации подвала сайта */
.user-navigation-footer {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  margin-top: 60px;
  padding: 0;

  list-style: none;
}

.footer-catalog {
  margin-top: 42px;
}

.user-navigation-footer li {
  margin-left: 40px;
}

.difference-footer {
  padding-left: 3px;
}

.user-navigation-svg {
  padding-right: 5px;
}

.login-svg {
  padding-right: 8px;
}

.footer-catalog .log-out {
  margin-left: 17px;
}

/* Сеточная стилизация адреса, навигации по каталогу и телефона подвала сайта */
.address-site-navigation-call {
  position: relative;

  display: flex;
  align-items: baseline;

  margin-bottom: 20px;
}

.address-site-navigation-call::before {
  position: absolute;
  top: 106px;

  width: 80px;
  height: 7px;

  content: "";

  background-color: #f0c52e;
}

.call {
  margin: 0;
  padding: 0;
}

.site-navigation-footer {
  position: relative;
  top: 2px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 600px;

  margin: 0 auto;
  padding: 0;
}

.site-navigation-footer li {
  padding-right: 34px;
}

/* Сеточная стилизация социальных сетей и ссылки на HTML Academy подвала сайта */
.social-copyright {
  position: relative;
  top: -19px;

  display: flex;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 65px;
}

.footer-htmlacademy {
  position: absolute;
  right: 0;
}

.footer-social-list {
  position: relative;
  top: 2px;
  left: 2px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 600px;

  margin: 0;
  padding: 0;
}

.footer-social-list li {
  padding-right: 22px;
}

.footer-social-list li:first-child {
  margin-left: 17px;
}

/* Сеточная стилизация модального окна обратной связи */
.modal {
  display: none;

  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) ;
}

.modal-visible {
  display: block;
}

.modal-write-us {
  width: 760px;

  padding: 56px 100px;
  margin: 0;
}

.container-name-email {
  display: flex;
  justify-content: space-between;

  width: 760px;
}

.container-name-email label,
.message label {
  margin-top: 19px;
  margin-bottom: 7px;
}

.user-name,
.email {
  display: flex;
  flex-direction: column;

  width: 360px;
}

.message {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.message label {
  margin-top: 15px;
}

.modal-write-us .button {
  margin-top: 38px;
  margin-bottom: 18px;
  padding-left: 35px;
  padding-right: 33px;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
  font: inherit;

  padding: 16px 20px;

  background-color: #f2f2f2;
  border: none;
}

.modal-write-us input[type="text"]:hover,
.modal-write-us input[type="email"]:hover,
.modal-write-us textarea:hover {
  background-color: #eaeaea;
}

.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus,
.modal-write-us textarea:focus {
  background-color: #ffffff;
  outline: 2px solid #f0c52e;
}

.modal-write-us input[type="text"]:invalid,
.modal-write-us input[type="email"]:invalid,
.modal-write-us textarea:invalid {
  background-color: #f6dada;
  outline: none;
}

.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus,
.modal-write-us textarea:focus {
  color: #000000;
}

.modal-write-us input[type="text"]::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-write-us input[type="email"]::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-write-us input[type="text"]:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-write-us input[type="email"]:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-write-us textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-write-us textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-write-us input[type="text"]:focus::-webkit-input-placeholder {
  color: #000000;
}

.modal-write-us input[type="email"]:focus::-webkit-input-placeholder {
  color: #000000;
}

.modal-write-us textarea:focus::-webkit-input-placeholder {
  color: #000000;
}

/* Сеточная стилизация модального окна карты*/
.modal-map {
  width: 960px;
  height: 559px;
}

.modal-map p {
  margin: 0;
  padding: 0;
}

/* Стилизация кнопки закрытия всплывающего модального окна */
.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: rgba(94%, 77%, 18%, 0.5);
  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  top: 27px;
  left: 13px;

  content: "";

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover {
  background-color: #f0c52e;
}

.modal-close:active {
  background-color: rgba(94%, 77%, 18%, 0.3);
}

/* ---------------------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

/* Стилизация изображений */
img {
  max-width: 100%;
  height: auto;
}

/* Стилизация ссылок */
a {
  text-decoration: none;
}

.main-navigation a,
.about-us a,
.catalog a {
  color: #000000;
}

/* Изменение состояний при наведении на ссылки */
.main-navigation a:hover,
.login-link-header:hover::before,
.difference-header:hover::before,
.purchases-header:hover::before {
  opacity: 0.6;
}

.main-navigation a:active,
.login-link-header:active::before,
.difference-header:active::before,
.purchases-header:active::before {
  opacity: 0.3;
}

/* Стили кнопок */
.button {
  position: relative;
  z-index: 1;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  padding: 10px 42px;

  background-color: transparent;
  border: none;
}

.button::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 17px;

  width: 100%;
  height: 8px;

  content: "";

  background-color: #f0c52e;
}

.button:hover {
  background-color: #f0c52e;
  border: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
  border: none;
}

/* Стили формы поиска */
.search-form input[type="search"] {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  border: none;
  border-bottom: 2px solid transparent;

  background-color: transparent;
}

.search-form label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  border: none;
  background-color: transparent;
}

.search-form label:active {
  font-size: 0;
}

.search-form input[type="search"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input[type="search"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input[type="search"]:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:focus::-webkit-input-placeholder {
  color: #000000;
}

.search-form input[type="search"]:focus:-ms-input-placeholder {
  color: #000000;
}

.search-form input[type="search"]:focus {
  border-bottom: 2px solid #000000;
  }

.button-search {
  visibility: hidden;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;

  padding: 6px 18px;
  background-color: transparent;
  border: solid 2px #000000;
}

.search-form input[type="search"]:focus + .button-search {
  visibility: visible;
}

.button-search:hover {
  color: #ffffff;

  background-color: #000000;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Стили пользовательской навигации */
.user-navigation-header {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;
}

.log-out {
  opacity: 0.3;
}

/* Стили блока навигации по каталогу */
.site-navigation-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.nested-list {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #000000;
  text-transform: none;

  list-style: none;

  background-color: #f7e296;
}

/* Стили "хлебных крошек" */
.breadcrumbs {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

/* Стили фильтра по критериям товара */
.filters-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-align: left;

  background-color: #d9d9d9;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  background-color: #ebebeb;
}

.cost,
.color,
.bluetooth {
  border: none;
}

.cost input {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #000000;
  opacity: 0.2;
  text-align: center;

  background-color: transparent;
}

/* Стили сортировки товаров */
.sort-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-align: left;
  text-transform: uppercase;

  background-color: #ebebeb;
}

.sort-list {
  list-style: none;
  background-color: #ebebeb;
}

.sort-item a {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
}

.sort-current a,
.sort-current a:hover {
  color: #000000;
}

.button-up,
.button-down {
  background-color: transparent;
}

.button-up:hover,
.button-up:active,
.button-down:hover,
.button-down:active {
  opacity: 0.2;

  background-color: transparent;
}

.color-list,
.bluetooth-list {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  font-weight: 300;
  color: #000000;
  text-align: left;

  background-color: #ebebeb;
  list-style: none;
}

/* Стили кнопок "вверх" и "вниз" сортировки товаров */
.arrow::before {
  display: inline-block;
  vertical-align: baseline;

  content: "";

  border: 10px solid #000000;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.button-up::before {
  border-top-width: 0;
}

.button-down::before {
  border-bottom-width: 0;
}

.arrow {
  opacity: 0.2;
}

.arrow:hover {
  opacity: 0.4;
}

.arrow:active {
  opacity: 1;
}

.arrow.active {
  opacity: 1;
}

/* Стили каталога товаров */
.liken {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.1px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.liken:hover {
  color: #000000;
}

.liken:active {
  color: rgba(0, 0, 0, 0.2);
}

.button-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #000000;
  text-align: right;

  background-color: transparent;
}

/* Стили пагинации */
.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  color: #000000;
}

.pagination-item:first-child a:hover,
.pagination-item:first-child a:focus,
.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus {
  color: #000000;
}

.pagination-item:first-child:hover,
.pagination-item:first-child:focus,
.pagination-item:last-child:hover,
.pagination-item:last-child:focus {
  background-color: #d9d9d9;
}

.pagination-item:first-child a:active,
.pagination-item:last-child a:active,
.pagination-item:first-child:active,
.pagination-item:last-child:active {
  color: rgba(0, 0, 0, 0.6);

  background-color: #d9d9d9;
}

.pagination-item.active a {
  color: #000000;
}

/* Стили слайдера специальных предложений */
.slider-special-offer .name-offer{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.5px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 800;
  color: #000000;
  text-transform: none;
  text-align: left;

  background-color: transparent;
}

.name-offer::after {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.8px;
  font-weight: 800;
  color: #ffffff;
}

.name-offer + p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.identification {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

/* Стили каталога товаров */
.catalog h3,
.catalog-item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.catalog-item-new::before {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
}

/* Стили слайдера предоставляемых услуг */
.slider-list {
  list-style: none;

  background-color: #e5e5e5;
}

.slider-list h3,
.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
  text-align: left;
}

.slider-list p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
  text-align: left;

  background-color: #e5e5e5;
}

.slider-buttons .button:active {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #f7e184;
  text-align: center;

  background-color: #000000;
  border: none;
}

.button:active.button-delivery::before,
.button:active.button-warranty::before,
.button:active.button-credit::before {
  background-color: transparent;
}

.button-delivery.active::before {
  background-color: transparent;
}

.button-delivery.active {
  padding-right: 133px;

  color: #f7e184;

  background-color: #000000;
}

/* Логотипы */
.logotypes-list {
  list-style: none;
}

.logotypes-list img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  opacity: 0.2;
}

.logotypes-list img:hover {
  filter: none;
  opacity: 1;
}

/* Стили блоков "О нас" и "Контакты" */
.about-us_contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.about-us_contacts p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: normal;
  word-spacing: 1px;
  color: #464646;
  text-align: left;

  background-color: #ffffff;
}

.carrier-companies {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
  list-style: none;
}

/* Стили пользовательской навигации снизу */
.user-navigation-footer {
  list-style: none;

  background-color: #464646;
}

.user-navigation-footer a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.7);
}

.user-navigation-footer a:hover {
  color: rgba(255, 255, 255, 1);
}

.user-navigation-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.icon-footer:hover .user-navigation-svg {
  opacity: 0.6;
}

.icon-footer:active .user-navigation-svg {
  opacity: 0.3;
}

/* Стили навигации по каталогу */
.site-navigation-footer {
  list-style: none;
  background-color: #464646;
}

.site-navigation-footer li {
  text-align: center;
}

.site-navigation-footer a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #464646;
}

.site-navigation-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.site-navigation-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Стили адреса */
.address {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: left;

  background-color: #464646;
}

/* Стили социальных сетей */
.footer-social ul {
  list-style: none;

  background-color: #464646;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

/* Стили телефона организации */
.call {
  background-color: #464646;
}

.call a {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
}

/* Стили анимации модальных окон */
@keyframes bounce {
  0% {
  		transform: translate(-50%, -50%) translate(0, -2000px);
  		opacity: 0;
  	}
  	70% {
  		transform: translate(-50%, -50%) translate(0, 30px);
  		opacity: 0.9;
  	}
  	80% {
  		transform: translate(-50%, -50%) translate(0, -20px);
  		opacity: 1;
  	}
  	100% {
  		transform: translate(-50%, -50%) translate(0, 0);
  		opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
		transform: translate(-50%, -50%) translateX(0);
	}
	10%,
  30%,
  50%,
  70%,
  90% {
		transform: translate(-50%, -50%) translateX(-10px);
	}
	20%,
  40%,
  60%,
  80% {
		transform: translate(-50%, -50%) translateX(10px);
	}
}

/* Стили формы модального окна (Обратная связь) */
.modal-write-us {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(70, 70, 70, 0.4);
  text-align: left;
}

/* Стилизация скрытых блоков, заголовков, надписей */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стиль отвечающий за показ модального окна */
.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}
